<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.4.7/css/foundation.min.css">
    </head>

    <body>
        <div class="row">
            <div class="small-12 columns">

                <h1>
                    Έλεγχος αρχείων YAML
                </h1>
                <h2 class="subheader">
                    <% unless @errors.nil? %>
                        <%= "(#{@errors.length} σφάλματα)" %>
                    <% else %>
                        Δεν υπάρχουν σφάλματα!
                    <% end %>
                </h2>

                <% @errors.each do |yaml| %>
                    <div>
                        <h4><a target="_blank" href="<%= yaml[:repo_link]%>"><%= yaml[:path] %></a></h4>
                        <p><%= yaml[:error] %></p>
                    </div>
                <% end %>

            </div>
        </div>

    </body>
</html>
